<!DOCTYPE html>
<html lang="en">

<title>Indoor Autonomous Navigation Systems</title>

<head>
  
<form action="./v1/robot_start_mapping">
	<input type="submit" value="Start Mapping">
</form>

<form action="./v1/robot_stop_mapping">
	<input type="submit" value="End Mapping">
</form>


<form action="./v1/robot_toggle_motor_disable">
	<input type="submit" value="Toggle Movement">
</form>
<br>
<form action="/v1/robot_select_map" method="post">
    <fieldset>
        <legend>Choose a map:</legend>
        {% block choose_map %}{% endblock %}
    </fieldset>
</form><br>

<form action="/v1/robot_submit" method="post">
    <fieldset>
        <legend>Destination, Starting Position, and Starting Facing</legend>
        Destination:<br>
        {% block dropdown_options %}{% endblock %}
        <br><br>
        <input type="submit" value="Submit">
    </fieldset>
</form>

{% block map_img %}{% endblock %}

</html>
